<lgw-header>
  <div class="mt-8 flex flex-col items-center gap-y-2">
    <lgw-handwritten class="text-2xl">Was gibt's neues?</lgw-handwritten>
    <h1 class="text-center text-5xl font-semibold lg:text-6xl">
      Versionshistorie.
    </h1>
  </div>
</lgw-header>

<lgw-content-container class="my-20 block">
  <div
    class="grid grid-cols-1 gap-x-32 gap-y-12 lg:grid-cols-[min-content_1fr]"
  >
    @for (entry of changelogData; track entry.version; let first = $first) {
      <div class="flex items-end gap-x-4 lg:flex-col lg:items-start">
        <lgw-handwritten class="text-3xl">{{ entry.version }}</lgw-handwritten>
        <p class="font-mono text-sm text-gray-400">{{ entry.date | date }}</p>

        @if (first) {
          <div
            class="bg-brand ml-auto rounded-full px-2 py-1 text-center text-xs tracking-widest text-white uppercase lg:mt-2 lg:ml-0"
          >
            Aktuell
          </div>
        }
      </div>
      <div
        class="border-cream-line -mt-8 rounded-lg border p-6 shadow-sm lg:mt-0"
      >
        <ul class="ml-4 list-disc gap-y-2 text-gray-700">
          @for (change of entry.changes; track change) {
            <li>{{ change }}</li>
          }
        </ul>
      </div>
    }
  </div>
</lgw-content-container>
