/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'flowbite/src/themes/default.css';
@import '@angular/cdk/overlay-prebuilt.css';

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 22rem;
  --breakpoint-lg: 32rem;
  --breakpoint-xl: 42rem;
}
