<lg-header title="Update-Notizen" />

<lg-content-container class="flex-col space-y-4">
  @if (showUpdateNotice()) {
    <p class="font-bold">
      LehrGrapht wurde auf die Version {{ lehrgraphtVersion }} aktualisiert.
    </p>
  }

  <div
    class="flex flex-col"
    ngAccordionGroup
  >
    <h2
      class="flex cursor-pointer justify-between text-2xl font-bold outline-0"
      #v110Trigger="ngAccordionTrigger"
      [expanded]="true"
      ngAccordionTrigger
      panelId="1.1.0"
    >
      Version 1.1.0

      <fa-icon [icon]="v110Trigger.expanded() ? faMinus : faPlus" />
    </h2>
    <div
      ngAccordionPanel
      panelId="1.1.0"
    >
      <ng-template ngAccordionContent>
        <ul class="mb-4 ml-8 list-disc">
          <li>Verbesserte Anzeige, wenn das Task Panel in Word vergrößert wird.</li>
          <li>Anzeige der Update-Notizen, wenn ein neues Update installiert wurde.</li>
        </ul>
      </ng-template>
    </div>

    <h2
      class="flex cursor-pointer justify-between text-2xl font-bold outline-0"
      #v100Trigger="ngAccordionTrigger"
      ngAccordionTrigger
      panelId="1.0.0"
    >
      Version 1.0.0

      <fa-icon [icon]="v100Trigger.expanded() ? faMinus : faPlus" />
    </h2>
    <div
      ngAccordionPanel
      panelId="1.0.0"
    >
      <ng-template ngAccordionContent>
        <ul class="ml-8 list-disc">
          <li>Erstes Release von LehrGrapht.</li>
        </ul>
      </ng-template>
    </div>
  </div>

  <div class="mt-4">
    <button
      class="app-button"
      (click)="proceed()"
    >
      Weiter
    </button>
  </div>
</lg-content-container>
