<lg-header title="Update-Notizen" />

@if (showUpdateNotice()) {
  <lg-content-container>
    <p class="font-bold">
      LehrGrapht wurde auf die Version {{ lehrgraphtVersion }} aktualisiert.
    </p>
  </lg-content-container>
}

<lg-accordion class="mt-4 block">
  <lg-accordion-panel
    [isExpanded]="true"
    title="Version 1.1.0"
  >
    <lg-content-container>
      <ul class="ml-4 list-disc">
        <li>
          Verbesserte Anzeige, wenn das Task Panel in Word vergrößert wird.
        </li>
        <li>
          Anzeige der Update-Notizen, wenn ein neues Update installiert wurde.
        </li>
      </ul></lg-content-container
    >
  </lg-accordion-panel>
  <lg-accordion-panel title="Version 1.0.0">
    <lg-content-container>
      <ul class="ml-4 list-disc">
        <li>Erstes Release von LehrGrapht.</li>
      </ul>
    </lg-content-container>
  </lg-accordion-panel>
</lg-accordion>

<lg-content-container class="flex-col space-y-4">
  <div class="mt-4">
    <button
      class="app-button"
      (click)="proceed()"
    >
      Weiter
    </button>
  </div>
</lg-content-container>
