<lg-header
  [backLink]="['/']"
  title="Info"
/>

<lg-content-container class="flex-col space-y-4">
  <h2 class="font-bold">LehrGrapht Version</h2>
  <p>{{ lehrgraphtVersion }}</p>

  <h2 class="font-bold">Entwickler</h2>
  <p>Boundfox Studios // Manuel Rauber</p>

  <h2 class="font-bold">Kontakt / Support</h2>
  <ul class="ml-8 list-disc">
    <li>
      Mail:
      <lgs-support-email-link
        [subject]="'LehrGrapht Version ' + lehrgraphtVersion"
      />
    </li>
    <li>
      Fehler direkt auf
      <lgs-github-link deepLink="issues" />
      melden
    </li>
  </ul>

  <h2 class="font-bold">Open Source</h2>
  <p>
    LehrGrapht ist Open Source, weitere Informationen findest Du auf
    <lgs-github-link />.
  </p>
</lg-content-container>
