<lg-header
  [backLink]="['/']"
  title="Info"
/>

<lg-content-container class="flex-col space-y-4">
  <h2 class="font-bold">LehrGrapht Version</h2>
  <p>{{ lehrgraphtVersion }}</p>

  <h2 class="font-bold">Entwickler</h2>
  <p>Boundfox Studios // Manuel Rauber</p>

  <h2 class="font-bold">Kontakt / Support</h2>
  <ul class="ml-8 list-disc">
    <li>
      Mail:
      <a
        class="underline"
        href="mailto:support@lehrgrapht.de"
        >support&#64;lehrgrapht.de</a
      >
    </li>
    <li>
      Fehler direkt auf
      <a href="https://github.com/boundfoxstudios/lehrgrapht/issues">
        <fa-icon [icon]="faGithub" />
        <span class="pl-1 underline">GitHub</span></a
      >
      melden
    </li>
  </ul>

  <h2 class="font-bold">Open Source</h2>
  <p>
    LehrGrapht ist Open Source, weitere Informationen findest Du auf
    <a href="https://github.com/boundfoxstudios/lehrgrapht">
      <fa-icon [icon]="faGithub" />
      <span class="pl-1 underline">GitHub</span>.</a
    >
  </p>
</lg-content-container>
