@let data = issues.value();

@if (data?.issues?.length) {
  <div class="mb-4 flex justify-end">
    <a class="text-brand border-b-brand flex cursor-pointer gap-1 border-b">
      <span>Alle auf GitHub</span>
      <fa-icon [icon]="faArrowRight" />
    </a>
  </div>
}

<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
  @for (issue of data?.issues; track issue.id) {
    <div
      class="bg-neutral-primary-soft border-default rounded-base flex flex-col border p-6 shadow-xs drop-shadow-xl"
    >
      <div class="flex justify-between gap-x-4">
        <a [href]="issue.url">
          <h3
            class="text-2xl font-medium tracking-tight"
            [innerHTML]="issue.title | insertWbr"
          ></h3>
        </a>
        <div>
          @if (issue.isBug) {
            <span
              class="bg-danger-soft text-fg-danger-strong border-danger-subtle rounded border px-1.5 py-0.5 text-xs font-medium whitespace-nowrap"
              ><fa-icon [icon]="faBug" /> Bug</span
            >
          } @else if (issue.isFeature) {
            <span
              class="bg-success-soft text-fg-success-strong border-success-subtle rounded border px-1.5 py-0.5 text-xs font-medium whitespace-nowrap"
              ><fa-icon [icon]="faMagicWandSparkles" /> Feature</span
            >
          }
        </div>
      </div>
      <p class="text-body-subtle my-2 font-mono text-sm">
        {{ issue.createdAt | date }}
      </p>
      <div class="mb-3">
        {{ issue.body | truncate }}
      </div>
      <div
        class="border-t-cream-line mt-auto flex justify-between border-t pt-3"
      >
        <a
          class="text-fg-brand inline-flex items-center font-medium hover:underline"
          [href]="issue.url"
        >
          Mehr anzeigen
          <fa-icon
            class="pl-1"
            [icon]="faExternalLink"
            size="xs"
          />
        </a>
        <div class="text-gray-500">
          {{ issue.comments }}
          <fa-icon
            [icon]="faComment"
            size="sm"
          />
          {{ issue.reactions }}
          <fa-icon
            [icon]="faHeart"
            size="sm"
          />
        </div>
      </div>
    </div>
  } @empty {
    <p class="col-span-full">
      Aktuell gibt es keine bekannten Fehler oder geplante Features. Falls Du
      einen Fehler melden oder Feature vorschlagen möchtest, dann schau entweder
      direkt auf
      <lgs-github-link deepLink="issues" />
      oder schreib eine E-Mail an den Entwickler:
      <lgs-support-email-link />
    </p>
  }
</div>

@if (data?.issues?.length) {
  <div class="mt-4 flex justify-end text-xl">
    <lgw-handwritten
      >Fehler gefunden oder Vorschlagen machen? Schreib eine
      <a
        class="underline"
        href="mailto:support@lehrgrapht.de"
        >E-Mail</a
      >
      oder direkt auf
      <a
        class="underline"
        [href]="gitHubUrl"
        >GitHub</a
      >!</lgw-handwritten
    >
  </div>
}
