<app-header title="Problem" />

<app-content-container class="flex-col space-y-2">
  <p>
    Vielen Dank für Dein Interesse an LehrGrapht! Leider unterstützt LehrGrapht
    nur die Desktop-Versionen von Word oder im iPad. Word for Web (Office
    Online) wird derzeit noch nicht unterstützt.
  </p>
  <p>
    Du kannst Dich bei Interesse gerne beim Entwickler melden:
    <a
      class="underline"
      href="mailto:support@lehrgrapht.de"
      >support&#64;lehrgrapht.de</a
    >
  </p>
</app-content-container>
