<lg-content-container class="flex justify-center">
  @let preview = preview$ | async;

  @if (plotHasErrorCode(preview)) {
    <p>
      Keine Vorschau verfügbar.<br />

      @switch (preview) {
        @case (PlotGenerateErrorCode.compile) {
          Eine oder mehrere Funktionen sind fehlerhaft oder beinhalten Terme,
          die LehrGrapht (noch) nicht versteht.
        }

        @case (PlotGenerateErrorCode.evaluate) {
          Die Funktoinen können nicht berechnet werden. Schaue bitte, ob Deine
          Grenzen passen oder in den Funktionen Fehler sind.
        }

        @case (PlotGenerateErrorCode.plot) {
          Der Plot kann aufgrund eines unbekannten Fehlers nicht generiert
          werden.
        }
      }
    </p>
  }

  @if (preview && !plotHasErrorCode(preview)) {
    <img
      [src]="preview.base64"
      alt="Preview"
      width="300"
      height="300"
    />
  }
</lg-content-container>
