<lg-header
  [backLink]="['/']"
  [subtitle]="'Plot: ' + store.model().name"
  title="Plot Editor"
/>

<form
  class="flex flex-1 flex-col"
  (ngSubmit)="submit()"
>
  <div class="flex flex-1 flex-col">
    @if (currentSection()) {
      <lg-tab-strip
        [tabs]="sectionTabs()"
        [active]="currentSection()!"
        (tabChange)="goToSection($event)"
      />
    }
    <router-outlet />
  </div>

  <div class="sticky bottom-0 border-t border-gray-200 bg-gray-50">
    <div class="p-3">
      <button
        class="app-button w-full"
        type="submit"
      >
        @if (store.isEditMode()) {
          Plot aktualisieren
        } @else {
          In Word einfügen
        }
      </button>
    </div>
    <lg-section
      [title]="
        store.isAnyInteractiveMode()
          ? 'Vorschau - Klicke um Punkte hinzuzufügen'
          : 'Vorschau'
      "
      [subtitle]="
        store.isAnyInteractiveMode()
          ? 'Punkte werden auf 0.5 gerundet'
          : 'Die Vorschau entspricht nicht der Größe des Bildes, das in Word eingefügt wird.'
      "
    />
    <lg-plot-preview
      [plot]="store.previewModel()"
      [plotSettings]="store.plotSettings()"
      [interactive]="store.isAnyInteractiveMode()"
      (plotClick)="store.onPlotClick($event)"
    />
  </div>
</form>
