<lg-header title="Plots" />

<lg-content-container class="flex-col space-y-4">
  <div class="flex flex-1 flex-col gap-2 lg:flex-row lg:justify-between">
    <div class="flex flex-1 gap-2 lg:flex-none">
      <a
        class="app-button flex-1 text-center"
        [routerLink]="'/plot/editor'"
      >
        Neuer Plot
      </a>
      <button
        class="app-button"
        (click)="plots.reload()"
        title="Plots neuladen"
      >
        <fa-icon [icon]="faRefresh" />
      </button>
    </div>
    <div class="ml-auto flex flex-1 space-x-2 lg:flex-none">
      <a
        class="app-button"
        [routerLink]="['/plot/settings']"
        title="Einstellungen"
      >
        <fa-icon [icon]="faGear" />
      </a>
      <a
        class="app-button"
        [routerLink]="['/plot/info']"
        title="Info"
      >
        <fa-icon [icon]="faInfoCircle" />
      </a>
      <a
        class="app-button"
        [routerLink]="['/plot/debug']"
        title="Entwicklerinformationen"
      >
        <fa-icon [icon]="faBug" />
      </a>
    </div>
  </div>

  <h2>
    @let plotList = plots.value(); Liste erkannter Plots im Dokument:
    @if (plots.isLoading()) {
      <fa-icon
        [icon]="faRefresh"
        [animation]="'spin'"
      />
    } @else {
      {{ plotList.length }}
    }
  </h2>

  <div class="flex flex-col space-y-2">
    @let selectedPlot = wordService.selection();

    @for (plot of plotList; track plot.id; let index = $index) {
      @let isSelected = selectedPlot?.id === plot.id;
      <div
        class="rounded-sm p-2"
        [class.bg-brand-light]="isSelected"
        [class.odd:bg-gray-200]="!isSelected"
      >
        <div class="flex items-center space-x-1">
          <button
            class="flex-1 text-left font-bold"
            (click)="select(plot.id)"
          >
            <h3 [class.text-white]="isSelected">
              {{ plot.model?.name ?? 'Plot ' + index }}
            </h3>
          </button>
          <a
            class="app-button small"
            [routerLink]="['/plot/editor', plot.id]"
            title="Plot editieren"
            ><fa-icon [icon]="faPen"
          /></a>
          <button
            class="app-button small"
            (click)="clonePlot(plot.id)"
            title="Plot klonen"
          >
            <fa-icon [icon]="faCopy" />
          </button>
          <button
            class="app-button small"
            (click)="deletePlot(plot.id)"
            title="Plot löschen"
          >
            <fa-icon [icon]="faTrashCan" />
          </button>
        </div>
      </div>
    }
  </div>
</lg-content-container>
