.lg-switch__knob {
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.15s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
  background: white;
  width: 16px;
  height: 16px;
}

.lg-switch--on .lg-switch__knob {
  left: 18px;
}
